# Node.js
node_modules/
npm-debug.log
package-lock.json

# Java compiled files
*.class

# Java archives
*.jar

# Build folders
build/
dist/
out/
target/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
